<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- SEO Meta Tags -->
<meta name="description" content="{{ .Description }}">
<meta name="keywords" content="{{ with .Keywords }}{{ delimit . ", " }}{{ end }}">
<meta name="author" content="{{ .Author }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="{{ with .Params.og_image }}{{ . }}{{ end }}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ .Title }}">
<meta property="twitter:description" content="{{ .Description }}">
<meta property="twitter:image" content="{{ with .Params.twitter_image }}{{ . }}{{ end }}">
